header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #698fc7;
    color: #FFF;
    padding: 0px 20px;
}

nav > a {
    color: #FFF;
    margin: 0 12px;
    font-size: 20px;
    font-weight:bold;
}