.link-collection > a {
    color: #BC4524;
    line-height: 26px;
}

.link-collection {
    display: grid;
    grid-template-columns: auto auto auto;
}

.headline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.headline-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headline-image {
    margin: 10px;
}